<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/main.css">
    
    <title>NEW-tro</title>
</head>
<body>
    <main>
        <section class="topText">
            <h1 class="topheaderText">
                NEW-TRO VIBE
            </h1>
        </section>


        <section class="header">
            <div class="headerImg">
                <img src="images/firstVinyl.jpg" alt="FirstVinyl">
            </div>
            <div class="headerText">
                <p>Here comes a new past that has not been in the past. 
                    A site for those who miss analogue sensibilities in our daily lives that pass so fast.
                </p>
                <h1>
                    Vinyl Record
                </h1>
            </div>
        </section>


        <section class="mainInfo">
            <div>
                <img src="images/vinylInfo1.jpg" alt="Info1">
                <h1>History</h1>
            </div>
            <div>
                <img src="images/vinylInfo2.jpg" alt="Info2">
                <h1>LP Sizes</h1>
            </div>
            <div>
                <img src="images/vinylInfo3.jpg" alt="Info3">
                <h1>Turn Table</h1>
            </div>
        </section>


        <section class="finalText">
            <p>
                    People always get fresh and happy from the new. <br>
                    But the familiarity and longing from what we have used long ago are still greater.
            </p>
        </section>
    </main>

    <script src="js/main.js"></script>
</body>
</html>